.logo{
    font-size: 25px;
    position: absolute;
    top: 50px;
    display: flex;
    color: #1a1a1a;
    margin-top: 100px;
}

.logo:hover{
    text-decoration: underline;
}


@media (max-height: 850px){
  .logo{
    margin-top: 10px;
  }
}