.products {
  margin: 32px;
  display: flex;
  gap: 20px;
  width: 1120px;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 14px;
  overflow-y: hidden;
}

.skeletons {
  margin: 32px;
  display: flex;
  gap: 20px;
  width: 1120px;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 14px;
  padding-left: 22px;
  overflow-y: hidden;
}

.product {
  background-color: #fff;
  border: solid 1px white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  list-style-type: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 8px;
  transition: box-shadow, transform .3s ease-in-out;
  transform: scale(1);
  overflow: visible;
  height: 100%;
  flex: 0 0 auto;
  width: 250px;
}

.product:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.arrow path {
  transition: fill .3s ease-in-out;
  fill: white;
}

.arrow:hover path {
  fill: #888888;
}

.prodes {
  font-size: 11px;
  padding: 15px 0px;
  text-align: left;
  height: 145px;
}

.protitle {
  height: 44px;
}

.price {
  text-align: left;
  display: flex;
}

.proarea {
  height: 100%;
  background-color: white;
}

.cartbut {
  float: right;
  background-color: #1a75e8;
  color: white;
  padding: 11px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  transition: background-color, color .3s ease-in-out;
}

.outStock {
  float: right;
  background-color: #f1f5f9;
  color: #94a3b8;
  padding: 11px;
  border-radius: 8px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}

.cartbut:hover {
  background-color: #1a90e8;
  color: #1a1a1a;
}

.arrow1 {
  top: 392.5px;
  left: 350px;
}

.arrow2 {
  top: 202.5px;
  right: 350px;
}


@media(max-width: 1660px) {
  .arrow1 {
    top: 392.5px;
    left: 250px;
  }

  .arrow2 {
    top: 202.5px;
    right: 250px;
  }
}

@media(max-width: 1450px) {
  .arrow1 {
    top: 392.5px;
    left: 150px;
  }

  .arrow2 {
    top: 202.5px;
    right: 150px;
  }
}

@media(max-width: 1260px) {
  .arrow1 {
    top: 392.5px;
    left: 50px;
  }

  .arrow2 {
    top: 202.5px;
    right: 50px;
  }
}

@media(max-width: 1200px) {
  .products {
    width: 920px;
    overflow-x: scroll;
  }

  .skeletons {
    width: 920px;
    overflow-x: scroll;
  }

  .arrow2 {
    right: 100px;
  }
}

@media(max-width: 960px) {
  .products {
    width: 640px;
  }

  .skeletons {
    width: 640px;
  }

  .arrow1 {
    display: none;
  }

  .arrow2 {
    display: none;
  }
}

@media(max-width: 850px) {
  .products {
    width: 370px;
  }

  .skeletons {
    width: 370px;
  }
}

.skeleton {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
  border-radius: 4px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.skeletonCard {
  width: 250px;
  height: 651px;
  padding: 30px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  margin-right: 14px;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  padding-left: 20px;
}

.skeletonTitle {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

.StockText {
  font-size: 12px;
  font-weight: 600;
  height: 18px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 14px;
  cursor: default;
}