.hero {
    color: black;
    background-image: url('/Hero/nexashop_bg.png');
    background-color: black;
    height: 100vh;
    min-height: 570px;
    background-size: cover;
    width: 100%;
    background-position: center;
    align-items: center;
    display: grid;
    padding-left: 120px;
}

.herotext {
    font-weight: 400;
    line-height: 1.4;
    width: 700px;
    font-size: 32px;
    color: #fff;
    padding-bottom: 30px;
}

.textWrapper {
    display: grid;
    align-items: center;
}

.heroNormalText {
    width: 450px;
    font-weight: 600;
}

.twobut {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

.learn {
    color: #fff;
    padding: 18px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border: solid 1px white;
    border-radius: 8px;
    transition: all .5s ease-in-out;
    width: 205px;
    height: 55px;
}

.arrowIcon {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 8px;
}


.shop:hover .arrowIcon {
    transform: translateX(5px);
}

.learn:hover .arrowIcon {
    transform: translateX(5px);
}

.Herofeatures {
    align-items: center;
    margin-top: 80px;
    display: flex;
    font-size: 13px;
    box-shadow: (255, 255, 255, 0.9);
    font-weight: 500;
    width: 510px;
    max-width: 600px;
}

.heroFeature {
    margin-right: 20px;
    width: 160px;
    max-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroFeatureImg {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    position: relative;
}

.shop {
    color: #fff;
    padding: 18px 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #1a75e8;
    width: 205px;
    height: 55px;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.shop:hover {
    transform: translateY(-4px);
    background-color: #1a82ff;
    box-shadow: 0 15px 30px -5px rgba(26, 117, 232, 0.4);
}

.logoname {
    color: #fff;
    margin-bottom: 16px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1;
    margin-bottom: 20px;
    cursor: default;
}

.excelText {
    color: white;
}

.shopText {
    color: #1a75e8;
}

@media(max-width: 1440px) {
    .hero {
        padding-left: 70px;
    }

    .logoname {
        font-size: 82px;
    }

    .herotext {
        font-size: 28px;
    }

    .Herofeatures {
        font-size: 12px;
    }

    .heroFeatureImg {
        width: 35px;
        height: 35px;
    }
}

@media(max-width:1024px) {
    .hero {
        padding-left: 70px;
    }

    .logoname {
        font-size: 66px;
    }

    .herotext {
        font-size: 22px;
    }

    .Herofeatures {
        font-size: 11px;
    }

    .heroFeatureImg {
        width: 35px;
        height: 35px;
    }

    .shop {
        width: 185px;
        height: 49px;
        font-size: 14px;
    }

    .learn {
        width: 185px;
        height: 49px;
        font-size: 14px;
    }
}

@media(max-width:930px) {
    .hero {
        padding-left: 40px;
    }

    .logoname {
        font-size: 52px;
    }

    .herotext {
        font-size: 18px;
        margin-top: 75px;
    }

    .heroNormalText {
        width: 250px;
    }

    .Herofeatures {
        font-size: 10px;
    }

    .heroFeature {
        margin-top: 20px;
    }

    .heroFeatureImg {
        width: 30px;
        height: 30px;
    }

    .twobut {
        display: grid;
    }

    .shop {
        font-size: 15px;
        width: 205px;
        height: 45px;
    }

    .learn {
        font-size: 15px;
        width: 205px;
        height: 45px;
    }
}

@media (max-width: 560px) {
    .Herofeatures {
        max-width: 350px;
        display: grid;
        margin-top: 40px;
    }

    .heroFeature {
        width: 100px;
    }
}

@media (max-width: 475px) {
    .hero {
        background-position: 40% center;
    }
}