.productinfo {
  justify-content: start;
  align-items: start;
  align-content: start;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  margin-top: 0px;
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 268px;
  font-size: 20px;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.infoproduct {
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  list-style-type: none;
  overflow: visible;
  width: 400px;
  margin-right: 30px;
  margin-top: 150px;
}

.cartbut {
  float: right;
  background-color: #1a75e8;
  padding: 15px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  transition: background-color, color .3s ease-in-out;
}

.cartbut:hover {
  background-color: #1a90e8;
  color: #1a1a1a;
}

.cartbut1 {
  float: right;
  background-color: #1a75e8;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  transition: background-color, color .3s ease-in-out;
}

.cartbut1:hover {
  color: #1a1a1a;
}

.TitleT {
  font-size: 32px;
  margin-top: 150px;
}

.detail {
  padding-right: 50px;
}

.arrow {
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 100px;
}

.prices {
  margin-left: 18px;
  display: grid;
}

.pageWrapper {
  margin-bottom: 100px;
}

.detailGrid {
  display: grid;
}

.titlePadding {
  padding: 16px;
  display: flex;
}

.priceRow {
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
}

.currency {
  margin-top: 6px;
  margin-left: 2px;
  font-size: 12px;
}

.wasRow {
  display: flex;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 15px;
}

.oldPrice {
  text-decoration: line-through;
}

.oldCurrency {
  margin-top: 6px;
  margin-left: 2px;
  font-size: 9px;
}

.description {
  font-size: 16px;
}

.colorsWrapper {
  display: flex;
  margin-top: 16px;
}

.colorsInner {
  display: flex;
}

.colorButton {
  background-color: white;
  transition: 0.3s;
  border-radius: 8px;
  width: 35px;
  height: 35px;
  margin-right: 7px;
  object-fit: cover;
}

.colorImage {
  width: 31px;
  height: 31px;
  padding: 3px;
  cursor: pointer;
}

.cartSection {
  display: flex;
  margin-top: 0px;
}

.cartGrid {
  display: grid;
}

.deliveryText {
  text-align: left;
  left: 0;
  font-size: 13px;
  float: left;
  display: flex;
  margin-top: 19px;
}

.deliveryTime {
  font-weight: bold;
  padding-left: 3px;
}

.featuresList {
  margin-top: 60px;
  display: grid;
  margin-left: 5px;
}

.featureItem {
  display: grid;
  padding-top: 25px;
  margin-left: 32px;
}

.outStock {
  border: none;
  cursor: not-allowed;
  margin-top: 26px;
  height: 49.2px;
}

.addCartButton {
  width: 130px;
  height: 49.2px;
  display: flex;
  cursor: pointer;
  border: none;
  margin-top: 25px;
}

.quantityWrapper {
  display: flex;
  width: 130px;
  border-radius: 8px;
  height: 49.2px;
  margin-top: 25px;
}

.quantityButtonLeft {
  width: 43.33px;
  padding: 5px;
  font-size: 23px;
  background-color: #1a75e8;
  border: #1a75e8;
  border-radius: 13px 0 0 13px;
}

.quantityButtonRight {
  width: 43.33px;
  padding: 5px;
  font-size: 23px;
  background-color: #1a75e8;
  border: #1a75e8;
  border-radius: 0 13px 13px 0;
}

.deleteSvg {
  margin-top: 6px;
  margin-right: 4px;
}

.quantityLoaderWhite {
  width: 43.33px;
  margin-right: 3px;
  height: 20px;
  stroke: #ffffff;
}

.quantityLoaderBlack {
  width: 43.33px;
  margin-right: 3px;
  height: 20px;
  stroke: #000;
}

.quantityValue {
  font-size: 23px;
  background-color: #1a75e8;
  width: 43.33px;
  height: 27px;
  color: #fff;
  padding: 0px 0px 0px 9px;
}


.animateSpin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media(max-width: 1050px) {
  .productinfo {
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    display: grid;
    margin-top: 0px;
  }

  .infoproduct {
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    list-style-type: none;
    overflow: visible;
    width: 350px;
    margin-right: 30px;
    margin-top: 50px;
  }

  .TitleT {
    font-size: 30px;
    margin-top: -500px;
    text-align: center;
  }

  .detail {
    width: 375px;
    padding-right: 25px;
  }

  .arrow {
    margin-bottom: 50px;
  }

  .prices {
    margin-top: -30px;
  }
}

.StockText {
  font-size: 16px;
  font-weight: 600;
  height: 18px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  cursor: default;
}

.outStock {
  float: right;
  background-color: #f1f5f9;
  color: #94a3b8;
  padding: 15px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
