.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #1a1a1a;
  color: #fff;
  height: 60px;
  font-size: 16px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.space{
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  gap: 20px;
  margin-right: 32px;
  position: absolute;
}
.logo1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.authbut{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.login{
    color: #1a1a1a;
    padding: 10px;
    font-size: 12px;
    background-color:#fff ;
    border-radius: 6px;
    transition: border-radius .1s ease-in-out;
    font-weight: bold;
}
.login:hover{
    border-radius: 18px;
}
.sectionsbut{
    display: flex;
    gap: 20px;
}

.sectionsbut:hover{
    text-decoration: underline;
}

.signup {
    color: #1a1a1a;
    padding: 10px;
    font-size: 12px;
    background-color:#fff ;
    border-radius: 6px;
    transition: border-radius .1s ease-in-out;
    font-weight: bold;
}

.signup:hover{
    border-radius: 18px;
}

.cartCount{
    background-color: #1a75e8;
    padding: 2.5px 5px 2.5px 5px;
    border: solid 1px #1a75e8;
    border-radius: 100%;
    position: absolute;
    right: 19px;
    top: 16px;
    color: white;
    font-size: 11px;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 400px){
    .authbut{
        margin-right: -50px;
    }
}