.logout {
    background-color: #1a75e8;
}

.logout:hover {
    background-color: #1a90e8;
}

.product {
    background-color: #fff;
    border: solid 1px white;
    border-radius: 10px;
    padding: 40px 40px 50px;
    text-align: left;
    list-style-type: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    margin: 8px;
    transition: box-shadow, transform .3s ease-in-out;
    transform: scale(1);
    overflow: visible;
    height: 100%;
    flex: 0 0 auto;
    width: 250px;
    margin-left: 30px;
}

.product:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
}

.dashboardGrid {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    width: 100%;
}

.mainFlexContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex: 1;
}

.sidebarWrapper {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    z-index: 100;
    height: 100%;
}

.sidebarMobileDrawer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #1a1a1a;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 102;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
}

.sidebarMobileDrawer.open {
    transform: translateX(0);
}

.sidebarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    display: none;
}

.sidebarOverlay.active {
    display: block;
}


.menuIcon {
    display: none;
    margin-top: 20px;
    position: absolute;
    cursor: pointer;
    margin-left: 20px;
}

.contentContainer {
    width: 100%;
}

.dashboardTitle {
    font-weight: 700;
    margin: 30px auto;
    display: flex;
    justify-content: left;
    margin-left: 120px;
    background: linear-gradient(120deg, #1a75e8, #1a90e8);
    font-size: 32px;
    letter-spacing: 0.5px;
    background-clip: text;
    color: transparent;
}

.chartsSection {
    display: flex;
    width: 85%;
    gap: 30px;
    margin: 0 auto;
}

.bottomSection {
    display: flex;
}

.ordersGrid {
    display: grid;
}

@media (max-width: 1800px) {
    .chartsSection {
        width: 100%;
        margin: 0 auto;
        margin-left: 20px;
        display: grid;
    }

    .bottomSection {
        display: grid;
    }
}

.mainContent {
    margin-left: 40px;
}

@media (max-width: 1200px) {
    .sidebarWrapper {
        width: 90px;
    }

    .dashboardGrid {
        grid-template-columns: 90px 1fr;
    }

}

@media (max-width: 1024px) {
    .dashboardGrid {
        grid-template-columns: 1fr;
    }

    .sidebarWrapper {
        display: none;
    }

    .menuIcon {
        display: flex;
    }

    .sidebarMobileDrawer {
        display: flex;
    }

    .sidebarOverlay {
        background: rgba(0, 0, 0, 0.5);
    }

    .dashboardTitle {
        text-align: center;
        margin-top: 70px;
    }

    .mainContent {
        margin-left: 40px;
    }

    .chartsSection,
    .bottomSection {
        flex-direction: column;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .sidebarHidden {
        display: none;
    }

    .dashboardTitle {
        margin-left: 50px;
    }
}